<tr id="section-{index}">
    <td class="docs">
        <div class="pilwrap">
            <a class="pilcrow" href="section-{index}">&#182;</a>
        </div>
        {comment}
    </td>
    <td class="code">
        <pre>
            <code class="language-css">
{code}
            </code>
        </pre>
    </td>
</tr>